# Ignore all .jar files
*.jar

# But DO NOT ignore the Gradle Wrapper jar, it is essential for the build.
!/android/gradle/wrapper/gradle-wrapper.jar

# General ignores
.DS_Store
.env.local
.firebase/
.next/
.idea/
*.log
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
out/
dist/
build/
