# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Other build outputs
/build
/dist

# Compiled Java archives
*.jar

# But DO NOT ignore the Gradle wrapper jar file
!/android/gradle/wrapper/gradle-wrapper.jar

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Private keys and certificates
*.pem
*.p12
*.cer
