require_relative '../../node_modules/@capacitor/ios/scripts/pods_helpers'

# Set the platform to iOS 15.0, as required by modern plugins like AdMob.
platform :ios, '15.0'
use_frameworks! :linkage => :static

target 'App' do
  capacitor_pods
  # Add your Pods here
end
