
name: Deploy iOS to App Store

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-ios:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Sync iOS Project
        run: npx cap sync ios

      - name: Install Apple Certificate and Provisioning Profile
        uses: apple-actions/import-codesign-certs@v3
        with:
          p12-file-base64: ${{ secrets.P12_BASE64 }}
          p12-password: ${{ secrets.P12_PASSWORD }}
          provisioning-profile-base64: ${{ secrets.PROFILE_BASE64 }}

      - name: Disable Automatic Signing for Pods
        run: |
          sed -i.bak 's/CODE_SIGN_STYLE = Automatic;/CODE_SIGNING_ALLOWED = NO;/g' ios/App/Pods/Pods.xcodeproj/project.pbxproj
          
      - name: Build iOS App
        run: |
          cd ios/App
          xcodebuild -workspace App.xcworkspace \
            -scheme App \
            -sdk iphoneos \
            -configuration Release \
            -archivePath $PWD/build/App.xcarchive \
            CODE_SIGN_STYLE="Manual" \
            CODE_SIGN_IDENTITY="Apple Distribution: Nesberry LLC (5BYJT9QTKZ)" \
            PROVISIONING_PROFILE_SPECIFIER="MealGenna Pro Store" \
            DEVELOPMENT_TEAM="5BYJT9QTKZ" \
            clean archive

      - name: Export IPA
        run: |
          cd ios/App
          xcodebuild -exportArchive \
            -archivePath $PWD/build/App.xcarchive \
            -exportOptionsPlist App/export_options.plist \
            -exportPath $PWD/build \
            -allowProvisioningUpdates
            
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MealGenna.ipa
          path: ios/App/build/App.ipa

      - name: Upload to TestFlight
        uses: apple-actions/upload-testflight-build@v2
        with:
          app-path: 'ios/App/build/App.ipa'
          issuer-id: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          api-key-id: ${{ secrets.APP_STORE_CONNECT_KEY_ID }}
          api-private-key: ${{ secrets.APP_STORE_CONNECT_API_KEY }}
