
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%; /* Light Gray */
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 122 39% 49%; /* Green */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 33 100% 50%; /* Orange */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 122 39% 49%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 40% 5%;
    --foreground: 210 40% 98%;

    --card: 220 30% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 220 40% 5%;
    --popover-foreground: 210 40% 98%;

    --primary: 122 39% 49%; /* Green */
    --primary-foreground: 210 40% 98%;

    --secondary: 220 20% 15%;
    --secondary-foreground: 210 40% 98%;

    --muted: 220 20% 15%;
    --muted-foreground: 220 15% 65%;

    --accent: 122 39% 49%; /* Green */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 20% 15%;
    --input: 220 20% 15%;
    --ring: 122 39% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    .flex-wrap.h-auto .flex-1 {
        flex-basis: 0;
    }
}
