
name: Deploy Android to Google Play

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Sync Capacitor
        run: npx cap sync android

      - name: Create Keystore
        run: echo "${{ secrets.ANDROID_SIGNING_KEY }}" | base64 --decode > android/app/keystore.jks

      - name: Create Keystore Properties
        run: |
          echo "MYAPP_RELEASE_STORE_FILE=keystore.jks" > android/keystore.properties
          echo "MYAPP_RELEASE_KEY_ALIAS=${{ secrets.ANDROID_ALIAS }}" >> android/keystore.properties
          echo "MYAPP_RELEASE_STORE_PASSWORD=${{ secrets.ANDROID_KEYSTORE_PASSWORD }}" >> android/keystore.properties
          echo "MYAPP_RELEASE_KEY_PASSWORD=${{ secrets.ANDROID_KEY_PASSWORD }}" >> android/keystore.properties

      - name: Build Release Bundle
        run: |
          cd android
          chmod +x gradlew
          ./gradlew bundleRelease

      - name: Upload Artefact
        uses: actions/upload-artifact@v4
        with:
          name: MealGenna-Release.aab
          path: android/app/build/outputs/bundle/release/app-release.aab
