<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813307831387-5d0q562d2c1c6h8b6qnsa11c8k5vj7q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5d0q562d2c1c6h8b6qnsa11c8k5vj7q2-813307831387</string>
	<key>API_KEY</key>
	<string>AIzaSyBFZheP5iqHROOrgwF_VNTtrl4VJ0iZO7A</string>
	<key>GCM_SENDER_ID</key>
	<string>813307831387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nesberry.mealgenna.pro</string>
	<key>PROJECT_ID</key>
	<string>mealmind-4a40a</string>
	<key>STORAGE_BUCKET</key>
	<string>mealmind-4a40a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:813307831387:ios:185d954f24f0f49f040b7e</string>
</dict>
</plist>
