<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>${GOOGLE_SERVICES_API_KEY}</string>
	<key>APP_ID</key>
	<string>1:266513828882:ios:b501e38c353f86e9351ccb</string>
	<key>CLIENT_ID</key>
	<string>266513828882-f32kfh834non8dj249sv2ks13hfg2i16.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>266513828882</string>
	<key>PROJECT_ID</key>
	<string>studio-8280698092-68a45</string>
	<key>STORAGE_BUCKET</key>
	<string>studio-8280698092-68a45.firebasestorage.app</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266513828882-f32kfh834non8dj249sv2ks13hfg2i16</string>
</dict>
</plist>
