<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813307831387-3hch6jghlkd47i4apotg37suoht88m87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813307831387-3hch6jghlkd47i4apotg37suoht88m87</string>
	<key>API_KEY</key>
	<string>AIzaSyAFtuKpDjwG-4fyMeEnJWLhdEoZjpq89Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>813307831387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nesberry.mealgenna.pro</string>
	<key>PROJECT_ID</key>
	<string>mealmind-4a40a</string>
	<key>STORAGE_BUCKET</key>
	<string>mealmind-4a40a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813307831387:ios:668a72c5a125fd64040b7e</string>
</dict>
</plist>